<input
  type="text"
  class="form-control"
  (focus)="focus$.next($any($event).target.value)"
  (click)="click$.next($any($event).target.value)"
  [(ngModel)]="model"
  [ngbTypeahead]="searchCategory"
  [resultFormatter]="formatter"
  [inputFormatter]="inputFormatter"
  #instance="ngbTypeahead"
  (selectItem)="itemSelected($event)"
  [resultTemplate]="rt"
  (focusout)="focusOut()"
/>

<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.value" [term]="t"></ngb-highlight>
  <a style="float: right" *ngIf="r.url" target="_blank" [href]="r.url">infos</a>
</ng-template>
