.btn-back {
    float: left;
}

.carousel {
    height: 500px;

    .carousel-inner {
        height: 500px;

        img {
            height: 500px;
            margin: auto;
        }
    }
    margin-bottom: 1rem;
}

.badges-scores {
    .scores {
        margin-left: -15px;
        margin-right: -15px;
    }
}
