.carousel {
    height: 500px;

    .carousel-inner {
        height: 500px;

        img {
            height: 500px;
            margin: auto;
        }
    }
    margin-bottom: 1rem;
}
.ingredient-analysis {
    margin-bottom: 1rem;
    .badge:not(:last-child) {
        margin-right: 1em;
    }
}
