<div class="card">
  <div class="card-img-top d-flex">
    <img [src]="productImage" class="pointer" alt="Product image" (click)="showDetails()" />
    <div
      class="background-blur"
      [style.background-image]="'url(' + productImage + ')'"
    ></div>
    <app-favorite-btn
      *ngIf="isAuthenticated$ | async"
      class="fav-btn"
      [favorites]="favorites"
      [productId]="product.code"
      (toggleFavorite)="toggleFavorite($event)"
    ></app-favorite-btn>
  </div>
  <div class="card-body content">
    <h5
      class="card-title pointer"
      (click)="showDetails()"
      [innerText]="productName"
    ></h5>
    <p class="card-text" [innerHtml]="productIngredients"></p>
    <app-ingredients-analysis
      [ingredientsAnalysisTags]="product.ingredients_analysis_tags"
      [ingredientAnalysisNames]="ingredientAnalysisNames$ | async"
      class="d-block ingredients"
    >
    </app-ingredients-analysis>
  </div>
  <div class="card-body controls">
    <div class="d-flex justify-content-between">
      <app-score-image [product]="product" type="nutriscore"></app-score-image>
      <app-score-image [product]="product" type="nova"></app-score-image>
    </div>
    <a class="btn btn-primary" (click)="showDetails()">Details</a>
  </div>
</div>
