<div class="card">
  <div class="card-img-top d-flex">
    <img [src]="product.image_url" alt="Product image" />
    <div
      class="background-blur"
      [style.background-image]="'url(' + product.image_url + ')'"
    ></div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ product.brands }} {{ productName }}</h5>
    <p class="card-text" [innerHtml]="productIngredients"></p>
    <app-ingredients-analysis
      class="ingredient-analysis d-block"
      [ingredientsAnalysisTags]="product.ingredients_analysis_tags"
      [ingredientAnalysisNames]="ingredientAnalysisNames$ | async"
    >
    </app-ingredients-analysis>
  </div>
  <div class="card-body">
    <a class="btn btn-primary" (click)="showDetails()">Details</a>
    <!-- <app-score-image [product]="product" type="nutriscore"></app-score-image> -->
  </div>
</div>
