<div *ngIf="!(loading$ | async)">
  <button
    type="button"
    class="btn btn-primary btn-back d-none d-md-block"
    (click)="goBack()"
  >
    Back
  </button>
  <div class="container" *ngIf="!!product">
    <div class="row justify-content-center">
      <h2>{{ productName }}</h2>
    </div>
    <div class="row">
      <div class="col">
        <app-image-carousel [images]="images"></app-image-carousel>
        <app-favorite-btn class="fav-btn" [favorites]="favorites$|async" [productId]="product.code" (toggleFavorite)="toggleFavorite($event)"></app-favorite-btn>
      </div>
    </div>
    <div class="row justify-content-between align-items-end badges-scores">
      <div class="col-12 col-md-6">
        <app-ingredients-analysis
          class="ingredient-analysis d-block"
          [ingredientsAnalysisTags]="product.ingredients_analysis_tags"
          [ingredientAnalysisNames]="ingredientAnalysisNames$ | async"
        >
        </app-ingredients-analysis>
      </div>
      <div class="col-12 col-md-6">
        <div class="scores">
          <!-- <app-score-image
            [product]="product"
            type="nutriscore"
          ></app-score-image>
          <app-score-image [product]="product" type="nova"></app-score-image>
          <app-score-image [product]="product" type="ecoscore"></app-score-image> -->
        </div>
      </div>
    </div>
    <div class="row d-flex flex-row">
      <div class="p-3">
        <span class="label">Vertriebsländer:</span> {{ countryNames$ | async }}
      </div>
      <div class="p-3">
        <span class="label">Marke:</span> {{ product.brands }}
      </div>
      <div class="p-3">
        <span class="label">Menge:</span> {{ product.quantity }}
      </div>
    </div>
    <div class="row">
      <div class="table-responsive">
        {{ product | json }}
      </div>
      <div [innerHtml]="ingredients"></div>
      <div class="table-responsive">
        <app-ingredients-table [ingredients]="product.ingredients">
        </app-ingredients-table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading$ | async" class="text-center">
  <div class="spinner-grow" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
