<div *ngIf="!(loading$ | async)">
  <button type="button" class="btn btn-primary btn-back" (click)="goBack()">
    Back
  </button>
  <div class="container" *ngIf="!!product">
    <div class="row">
      <div class="col">
        <app-image-carousel [images]="images"></app-image-carousel>
        <app-favorite-btn
          *ngIf="isAuthenticated$ | async"
          class="fav-btn"
          [favorites]="favorites$ | async"
          [productId]="product.code"
          (toggleFavorite)="toggleFavorite($event)"
        ></app-favorite-btn>
      </div>
    </div>
    <div class="row justify-content-between align-items-end badges-scores">
      <div class="col-12 col-md-6">
        <app-ingredients-analysis
          class="ingredient-analysis d-block"
          [ingredientsAnalysisTags]="product.ingredients_analysis_tags"
          [ingredientAnalysisNames]="ingredientAnalysisNames$ | async"
        >
        </app-ingredients-analysis>
      </div>
      <div class="col-12 col-md-6">
        <div
          class="scores d-flex justify-content-sm-end justify-content-between"
        >
          <app-score-image
            [product]="product"
            type="nutriscore"
            class="score"
          ></app-score-image>
          <app-score-image
            [product]="product"
            type="nova"
            class="score"
          ></app-score-image>
          <app-score-image
            [product]="product"
            type="ecoscore"
            class="score"
          ></app-score-image>
        </div>
      </div>
      <!-- <div>{{product.serving_quantity}}</div> -->
    </div>
    <div class="row">
      <div class="table-responsive">
        <app-nutriments-table
          [nutriments]="product.nutriments"
          [nutritionDataPer]="product.nutrition_data_per"
        >
        </app-nutriments-table>
      </div>
      <div class="table-responsive">
        <app-ingredients-table [ingredients]="product.ingredients">
        </app-ingredients-table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading$ | async" class="text-center">
  <div class="spinner-grow" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
