.btn-back {
    float: left;
}

.badges-scores {
    .scores {
        margin-left: -15px;
        margin-right: -15px;
        .score {
            &:not(:first-child) {
                margin-left: 1rem;
            }
        }
    }
}

.ingredient-analysis {
    margin: 0 -15px;
}

.fav-btn {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
}
