.lead {
    margin-bottom: 1rem;
}

.file-upload {
    display: none;
}

.barcode-scanner {
    // width: 640px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    &.hidden {
        visibility: hidden;
    }
    video {
        width: 100%;
    }
}

.btn-scan {
    color: #fff;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    &:disabled,
    &[disabled] {
        cursor: not-allowed;
    }
}
