<table class="table">
  <caption>
    Inhaltsstoffe
  </caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Vegan</th>
      <th scope="col">Vegetarisch</th>
      <th scope="col">Anteil (in %)</th>
      <th scope="col">Position</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let ingredient of ingredients; let i = index">
      <ng-container *ngIf="!!showIngredient(ingredient)">
        <tr>
          <td>{{ getIngredientName(ingredient) }}</td>
          <td>{{ ingredient.vegan }}</td>
          <td>{{ ingredient.vegetarian }}</td>
          <td>{{ toFixed(ingredient.percent_estimate) }}</td>
          <td>{{ ingredient.rank }}</td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
