<ngb-carousel
  *ngIf="mappedImages"
  class="carousel"
  [showNavigationArrows]="mappedImages.length > 1"
>
  <ng-template ngbSlide *ngFor="let image of mappedImages; let i = index">
    <div class="picsum-img-wrapper">
      <img [src]="image.src" [attr.alt]="image.name" />
    </div>
    <div class="carousel-caption">
      <h3>{{ image.name }}</h3>
      <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
    </div>
  </ng-template>
</ngb-carousel>
<!-- 
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      *ngFor="let image of images; let i = index"
      data-target="#carouselExampleIndicators"
      [attr.data-slide-to]="i"
      [ngClass]="{ active: i == 0 }"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div
      class="carousel-item"
      [ngClass]="{ active: i == 0 }"
      *ngFor="let image of images; let i = index"
    >
      <img [src]="image.src" class="d-block" [attr.alt]="image.name" />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ image.name }}</h5>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
