<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" [routerLink]="'.'">Rating Dashboard</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" (click)="isMenuCollapsed = true"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="nutrition"
          (click)="isMenuCollapsed = true"
          >Nutrition</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="beauty" (click)="isMenuCollapsed = true"
          >Beauty</a
        >
      </li>
    </ul>
    <div class="d-block d-sm-none">
      <app-user-context
        [userData]="userData$ | async"
        [hiddenXs]="false"
      ></app-user-context>
    </div>
  </div>
  <div class="my-lg-0 d-none d-sm-inline-block">
    <app-user-context [userData]="userData$ | async"></app-user-context>
  </div>
</nav>
